<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this message from being sent:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :firstname, placeholder: "Firstname", autofocus: true %>
  </div>
  <div class="field">
    <%= f.text_field :lastname, placeholder: "Lastname" %>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: "Your Email" %>
  </div>
  <div class="field">
    <%= f.url_field :url, placeholder: "http://" %>
  </div>
  <div class="field">
    <%=	f.select :occupation, @occupations %>
  </div>
  <div class="field">
    <%=	f.select :offer, @offers %>
  </div>
  <div class="field">
    <%= f.text_area :details, placeholder: "Type additional details for your search here (max. 40 characters)" %>
  </div>
  <div class="actions">
    <%= f.submit "Send" %>
  </div>
<% end %>
