<section id="ig" class="container">
	<div class="profile">
		
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="profile_picture">
					<%= image_tag @user.profile_picture %>
					<%= link_to "http://www.instagram.com/thomasmenelle", target: "_blank" do %>
						<%= content_tag(:span, nil) %>
					<% end %>
					<%= content_tag(:div, "GO", class: "link") %>
				</div><!-- .profile_picture -->

				<div class="name">
					<%= link_to content_tag(:b, @user.full_name), "http://www.instagram.com/thomasmenelle", target: "_blank" %><br>
					<%= link_to "@"+@user.username, "http://www.instagram.com/thomasmenelle", target: "_blank" %><br>
					<%= link_to @user.website, @user.website, target: "_blank" %>
				</div><!-- .name -->

				<div class="bio">
					<p><%= @user.bio %></p>
				</div><!-- .bio -->

			</div>
		</div><!-- .row -->
		
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				
				<div class="stats">
					<%= content_tag(:div, class: "media" ) do %>
						<%= content_tag(:div, nil, class: "img-media" ) %> <%= content_tag(:p, @user.counts.media) %>
					<% end %>
					<%= content_tag(:div, class: "followed_by" ) do %>
						<%= content_tag(:div, nil, class: "img-followed_by" ) %><%= content_tag(:p, @user.counts.followed_by) %>
					<% end %>
					<%= content_tag(:div, class: "follows" ) do %>
						<%= content_tag(:div, nil, class: "img-follows" ) %> <%= content_tag(:p, @user.counts.follows) %>
					<% end %>
				</div><!-- .stats -->
				
			</div>
		</div><!-- .row -->

	</div><!-- .profile -->

	<% @feed.each do |feed| %>
		<div class="item">
			<div class="row">
				<div class="vignette col-md-7 col-sm-7 col-xs-7">
					<%= image_tag feed.images.standard_resolution.url, class: "img-responsive" %>
			    </div><!-- .vignette -->
				<div class="col-md-5 col-sm-5 col-xs-5">
					<div class="caption">
						<p><%= feed.caption.text %></p>
					</div><!-- .caption -->
					<div class ="likes">
						<%= link_to feed.likes[:count], feed.link, target: "_blank" %>
					</div>
				</div>
			</div><!-- .row -->
		</div><!-- .item -->_
	<% end %>
	<div class="credits">
		<p>Copyright &copy; 2014 <%= link_to 'Menelle Paris', 'http://www.menelle.com', target: "_blank" %>. All rights reserved.</p>
	</div><!-- .credits -->
</section><!-- #ig -->