<section id="about" class="container-fluid">
	<div class="about-header">
		
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="about-logo"></div><!-- .about-logo -->

			</div><!-- .col -->
		</div><!-- .row -->
		
	</div><!-- .about-header -->
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-5">

			<div class ="resume">
				<h1>About</h1>
				_<p>I'm 28, live in Paris mon Amour, France, and take photos. I'm always looking for models/mua/collab. Feel free to contact me for further informations via the <%= link_to "Contact tab", new_user_path %>.<p>
				<p>Thank you for visiting my Facebook page.</p>
				<p>Kind Regards,<br>
				Thomas Menelle</p>
				<br>
				_<p>J'ai 28 ans, vis à Paris mon Amour, France, et prends des photos. Je suis constamment à la recherche de modèle/maquilleur/collab. N'hésitez pas à me contacter pour plus d'informations via l'<%= link_to "onglet Contact", new_user_path %>.</p>
				<p>Merci pour votre visite sur ma page Facebook.</p>
				<p>Cordialement,<br>
				Thomas Menelle</p>
			</div><!-- .resume -->

		</div><!-- .col -->
		<div class="col-md-7 col-sm-7 col-xs-7">
			<div class="timeline">
				<ul>
					<li class="event">
						<input class="radio" id="event4" name="events" type="radio">
						<div class="relative">
							<label for="event4">SIT LUX Paris</label>
							<span class="circle"></span>
							<span class="time">2014</span>
						</div><!-- .relative -->
						<div class="content">
							<span class="flag">Check <%= link_to "SIT LUX Paris", "http://www.sitlux.net", target: "_blank" %></span>
							<span class="desc">our Four Hands Photographic House.</span>
						</div><!-- .content -->
					</li>

					<li class="event">
						<input class="radio" id="event3" name="events" type="radio">
						<div class="relative">
							<label for="event3">VUHI Light</label>
							<span class="circle"></span>
							<span class="time">2013</span>
						</div><!-- .relative -->
						<div class="content">
							<span class="flag">Check <%= link_to "VUHI Light", "http://li.vuhi.net", target: "_blank" %>,</span>
							<span class="desc">an App to craft elegant Casting Calls Cards.</span>
						</div><!-- .content -->
					</li>

					<li class="event">
						<input class="radio" id="event2" name="events" type="radio">
						<div class="relative">
							<label for="event2">Menelle Paris</label>
							<span class="circle"></span>
							<span class="time">2011</span>
						</div><!-- .relative -->
						<div class="content">
							<span class="flag">Check <%= link_to "Menelle Paris", "http://www.menelle.com", target: "_blank" %>,</span>
							<span class="desc">my Personal Studio.</span>
						</div><!-- .content -->
					</li>

					<li class="event">
						<input class="radio" id="event1" name="events" type="radio">
						<div class="relative">
							<label for="event1">First Camera</label>
							<span class="circle"></span>
							<span class="time">2006</span>
						</div><!-- .relative -->
						<div class="content">
							<span class="flag"></span>
							<span class="desc">I joined the red Team.</span>
						</div><!-- .content -->
					</li>

					<li class="event">
						<input class="radio" id="event0" name="events" type="radio">
						<div class="relative">
							<label for="event0">Birth</label>
							<span class="circle"></span>
							<span class="time">1985</span>
						</div><!-- .relative -->
						<div class="content">
							<span class="flag"></span>
							<span class="desc">Hello World.</span>
						</div><!-- .content -->
					</li>
				</ul>
			</div><!-- .timeline -->
		</div><!-- .col -->
	</div><!-- .row -->

</section><!-- #about -->